<div class="ui middle aligned center aligned grid home">
    <div class="column">
      <h1 class="title">BeerNow</h1>
        <div class="ui stacked segment">
            <h2 class="content">Find the best bang for the buck at your local Beer Store.</h2>
            <div class="ui large form">
                <div class="field">
                    <div class="ui left input">
                      <input class="typeahead" type="text" placeholder="Store location by city, address or postal code...">
                    </div>
                </div>
            </div>
          <div class="ui icon message" id="loader" style="display:inherit;">
            <div class="content">
              <div class="header">
                <i class="notched circle loading icon"></i> Loading
              </div>
              <p>Just wait a sec.</p>
            </div>
          </div>
        </div>
        <div class="ui message">
          <div class="ui accordion fluid">
            <div class="title">
              <i class="dropdown icon"></i>
              What is this?
            </div>
            <div class="content">
              <div class="transition hidden left" style="padding:10px;">
                <p>Beer is expensive, especially if you are a broke college student. That's why I made BeerNow, so I can use Math™ to find out what is the most alcohol I can buy for my money.</p>
                <p>How do we find the cheapest beer? We find the cheapest beer per ABV with this equation: <br/> <b>ABV * amount per unit * volume / price per unit</b></p>
                <p>Hope you find this useful! Shoot me any <a href="mailto:me@yuchen.io">fan/hate mail</a> or whatever.</p>
                <p>Uses data from the <a href="http://ontariobeerapi.ca/" title="the API">Unofficial Beer Store API</a>.</p>
              </div>
            </div>
          </div>
          <div class="fb-share-button" data-href="http://beernow.ca" data-layout="button_count"></div>| <a href="https://twitter.com/share" class="twitter-share-button" data-text="Find the cheapest beer at the Beer store at beernow.ca">Tweet</a>
          <br>
          Made with ♥ by <a href="http://yuchen.io/" title="My Site!">Yu Chen</a> | <a href="https://github.com/icechen1/beerhunter" title="Repo">GitHub</a>
        </div>
    </div>
</div>

<div id="fb-root"></div>
<script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=652947734841877";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    var stores = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace(['city','address', 'postal_code']),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        // url points to a json file that contains an array of stores names
        prefetch: '/get_store_listing/'
    });

    // initialize the bloodhound suggestion engine
    var promise = stores.initialize();

    promise
            .done(function() { $('#loader').css('display','none'); })
            .fail(function() { console.log('err, something went wrong :('); });

    // passing in `null` for the `options` arguments will result in the default
    // options being used
    $('.typeahead').typeahead({classNames: {
        menu: 'tt-menu ui raised segment twitter-typeahead ',
        suggestion: 'tt-suggestion ui relaxed divided list'
    }}, {
        display: function(value){
            return value.city + " " + value.address + "(" + value.postal_code + ")";
        },
        templates:{
            suggestion: function(item){
                return '  <div class="item"> ' +
                '       <div class="content left">' +
                '       <a class="header">'+item.city+'</a> ' +
                '       <div class="description"><i class="large marker middle aligned icon"></i>'+item.address+ ' (' + item.postal_code + ')</div> ' +
                '</div>' +
                '</div>';
            }
        },
        source: stores.ttAdapter()
    });

    $('.typeahead').bind('typeahead:select', function(ev, suggestion) {
        if(suggestion == null || suggestion.store_id == null)
            return;
        window.location.href = "/listing/" + suggestion.store_id;
        console.log('Selection: ' + suggestion.store_id);
        $('#loader').css('display','inherit');
    });

    $('.ui.accordion')
            .accordion()
    ;
</script>