<div class="ui middle aligned center aligned grid home">
    <div class="column">
      <h1 class="title">BeerNow</h1>
        <div class="ui stacked segment">
            <h2 class="content">Find the best bang for the buck at your local Beer Store.</h2>
            <div class="ui large form">
                <div class="field">
                    <div class="ui left input">
                      <input class="typeahead" type="text" placeholder="Store location...">
                    </div>
                </div>
            </div>
          <div class="ui icon message" id="loader" style="display:inherit;">
            <div class="content">
              <div class="header">
                <i class="notched circle loading icon"></i> Loading
              </div>
              <p>Just wait a sec.</p>
            </div>
          </div>
        </div>
        <div class="ui message">
          A <a href="http://yuchen.io/" title="My Site!">Yu Chen</a> production/ <a href="https://github.com/icechen1/beerhunter" title="Repo">GitHub</a> / What is this?
        </div>
    </div>
</div>

<script>
    var stores = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace(['city','address']),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        // url points to a json file that contains an array of stores names
        prefetch: '/get_store_listing/'
    });

    // initialize the bloodhound suggestion engine
    var promise = stores.initialize();

    promise
            .done(function() { $('#loader').css('display','none'); })
            .fail(function() { console.log('err, something went wrong :('); });

    // passing in `null` for the `options` arguments will result in the default
    // options being used
    $('.typeahead').typeahead({classNames: {
        menu: 'tt-menu ui raised segment twitter-typeahead ',
        suggestion: 'tt-suggestion ui relaxed divided list'
    }}, {
        display: function(value){
            return value.city + " " + value.address;
        },
        templates:{
            suggestion: function(item){
                return '  <div class="item"> ' +
                '       <div class="content left">' +
                '       <a class="header">'+item.city+'</a> ' +
                '       <div class="description"><i class="large marker middle aligned icon"></i>'+item.address+'</div> ' +
                '</div>' +
                '</div>';
            }
        },
        source: stores.ttAdapter()
    });

    $('.typeahead').bind('typeahead:select', function(ev, suggestion) {
        if(suggestion == null || suggestion.store_id == null)
            return;
        window.location.href = "/listing/" + suggestion.store_id;
        console.log('Selection: ' + suggestion.store_id);
        $('#loader').css('display','inherit');
    });
</script>